{% extends "exercise/layout.html" %}
{% load static %}
{% block body %}
<section class="projects-section bg-light" id="register">
  <div class="jumbotron" id="workout-info">

  </div>
</section>
<section class="projects-section bg-light" id="selected-exercises" style="padding-top:0%; padding-bottom: 0%;">

</section>
<section id="after-workout-options" style="display:block;">
    <form action= "{% url 'start-workout' %}" method='POST'>
        {% csrf_token %}
        <input type= "hidden" id='workout-set'name='workout-set'>
        <button type="submit" class="btn btn-secondary btn-lg btn-block col-md-3">  Start Workout</button>
    </form> 
</section>
<script src='{% static "exercise/js/myworkouts.js" %}'></script>
{% endblock %}